h1, h2 {
    line-height: 5vw;
    margin: 2vw 0;
}

p {
    line-height: 3vw;
    margin: 0;
}

#resume {
    display: flex;
    position: absolute;
    top: 0;
    flex-flow: row;
    justify-content: flex-end;
    width: 100%;

    p {
        margin-right: 9.5vw;
        margin-top: 9vw;
    }
}

#main-container {
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    width: 100%;

    #greeting {
        margin: 0 9.5vw;
    }
}

#link-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100vw;
    position: absolute;
    bottom: 0;
    margin-bottom: 9vw;

    #social {
        margin-left: 9.5vw;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;

        #instagram {
            margin-right: 4.5vw;

            img {
                height: 2.5em;
            }
        }

        #twitter {
            img {
                height: 2.5em;
            }
        }
    }

    #contact {
        // border: 1px solid black;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-right: 9.5vw;
    }
}

#code-container {
    display: flex;
    margin: 0;
    padding: 0 9.5vw;
    flex-flow: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.projects {
    p {
        margin-bottom: 2vw;
    }
}

#code {
    margin-top: 10vw;
    margin-bottom: 4vw;
}

@media screen and (max-width: 600px) {
    h1 {
        line-height: 5px * (600 * 0.01);
        margin: 2px * (600 * 0.01) 0;
    }
}

@media screen and (min-width: 1100px) {
    h1 {
        line-height: 5px * (1100 * 0.01);
        margin: 2px * (1100 * 0.01) 0;
    }
}

@media screen and (max-width: 700px) {
    #instagram {
        margin-right: (700px * 0.045) !important;

        img {
            height: 3 * (700px * 0.01) !important;
        }
    }

    #twitter {
        img {
            height: 3 * (700px * 0.01) !important;
        }
    }
}

@media screen and (min-width: 1100px) {
    #instagram {
        margin-right: (1100px * 0.045) !important;

        img {
            height: 3 * (1100px * 0.01) !important;
        }
    }

    #twitter {
        img {
            height: 3 * (1100px * 0.01) !important;
        }
    }
}

@media screen and (max-width: 800px) {
    p {
        line-height: 3px * (800 * 0.01);
    }
}